<%= form_with(model: @farm, local: true) do |f| %>
  <% if @farm.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @farm.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nome da Fazenda", class: ui_label_classes %>
    <%= f.text_field :name, class: ui_input_classes %>
  </div>

  <div class="actions mt-3">
    <%= f.submit "Salvar", class: ui_btn_primary %>
    <%= link_to "Cancelar", farms_path, class: ui_btn_danger %>
  </div>
<% end %>
